#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    cursor: pointer;
    animation: hover 3s ease-in-out;
    background-color:azure;

}