#navbar{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    border-bottom: 1px solid black;
}
.nav-item{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}